doctype html
html
  head
    title= title
    <!-- Compressed CSS -->
    link(rel='stylesheet', href='https:\/\/cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css')

    link(rel='stylesheet', href='/dist/admin-style.css')
    script(src='http://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https:\/\/cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js')
    script(src="/dist/admin.bundle.js" defer)
  body

  header
    nav
      ul
        each item in h.adminMenu
          li.nav__item
            a.nav__link(href=item.slug) #{item.title}

  block messages
    if locals.flashes
      .flash-messages
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            .flash(class=`flash--${category}`)
              p.flash__text!= message
              button.flash__remove(onClick="this.parentElement.remove()") &times;

    block content