doctype html
html
  head
    title= title
    <!-- Compressed CSS -->

    link(rel='stylesheet', href='/dist/admin-style.css')
    script(src='http://code.jquery.com/jquery-3.3.1.min.js')
    script(src="/dist/admin.bundle.js" defer)
  body

  header
    nav
      ul
        each item in h.adminMenu
          li.nav__item
            a.nav__link(href=item.slug) #{item.title}

  block messages
    if locals.flashes
      div(class='grid-container')
        div(class='flash-messages' data-closable)
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`callout ${category}`)
                p.flash__text!= message
                  button(class='close-button' aria-label='Dismiss alert' type='button' data-close)
                    span(aria-hidden='true') &times;


    block content