extends adminLayout

block content
  div(class='grid-container')
    h1= title

    form(action=`/admin/blog-settings` method='POST' enctype="multipart/form-data")
      div(class='cell grid-x grid-margin-x')
        if menus
          div(class='cell small-12 medium-6 large-6')
            label(for='header_menu') Header Menu
            select(name='header_menu' id='header_menu' selected=settings.header_menu)
              for menu in menus
                if menu._id == settings.header_menu
                  option(value=menu._id selected)= menu.title
                else
                  option(value=menu._id)= menu.title
          div(class='cell small-12 medium-6 large-6')
            label(for='footer_menu') Footer Menu
            select(name='footer_menu' id='footer_menu' selected=settings.footer_menu)
              for menu in menus
                if menu._id == settings.footer_menu
                  option(value=menu._id selected)= menu.title
                else
                  option(value=menu._id)= menu.title
        div(class='card-section homepage-image')
          if settings.featuredImage
            img(class='featured-image-thumb' src=`/uploads/${settings.featuredImage}` data-has-image data-og-src=`/uploads/${settings.featuredImage}`)
            hr
            label(class='button hollow secondary small expanded change-featured-image' for="featuredImage") Change Image
            input(class='hide' type="file" name="featuredImage" id="featuredImage" accept="image/gif, image/png, image/jpeg")
            input(type="checkbox" name="removeFeaturedImage" id="removeFeaturedImage" class="hide")
            label(for='removeFeaturedImage' class='button alert hollow small expanded remove-featured-image' data-removing='true') Remove Image
          else
            img(class='featured-image-thumb has-no-image hide' src=``)
            hr(class='hide')
            label(class='button hollow secondary small expanded change-featured-image' for="featuredImage") Add Featured Image
            input(class='hide' type="file" name="featuredImage" id="featuredImage" accept="image/gif, image/png, image/jpeg")
          p(class="info-text")
        div(class='cell')
          button(type='submit' class='button') Save