doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/style.css')
    script(src="/dist/app.bundle.js" defer)
  body

  header
    nav
      ul
        each item in h.frontMenu
          li.nav__item
            a.nav__link(href=item.slug) #{item.title}

  block messages
    if locals.flashes
      .flash-messages
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            .flash(class=`flash--${category}`)
              p.flash__text!= message
              button.flash__remove(onClick="this.parentElement.remove()") &times;

    block content

    a(href="/admin") Admin Home