extends layout

block content
  main(class="post")
    div(class="post__hero")
      div(class="post__hero--container")
        div(class='post__hero--image-wrapper')
          if post.featuredImage
            div(class="loading-circle")
            img(class="post__hero--image hide" src=`/uploads/${post.featuredImage}`)
        div(class="post__hero--info")
          h2(class="info__title hide")= title
          p(class="info__description hide") Written by #{ post.author ? `${post.author.firstName} ${post.author.lastName}` : 'Unknown'}

    div(class='post__content')
      != post.content
