extends layout

block content
  main(class="post")
    div(class="post__hero")
      div(class="post__hero--container")
        div(class='post__hero--image-wrapper')
          if post.featuredImage
            img(class="post__hero--image" src=`/uploads/${post.featuredImage}`)
        div(class="post__hero--info")
          h2= title
          p Written by #{ post.author ? `${post.author.firstName} ${post.author.lastName}` : 'Unknown'}
          if user && post.author.id == user._id
            p
              a(href=`/admin/posts/${post.slug}/edit`) Click here to edit this post

    div(class='post__content')
      != post.content
