mixin postForm(post = {})
		form#post(action=`/admin/new-post/${post.slug ? post.slug +'/' : ''}${ post._id ? post._id : '' }${ post.slug ? '/edit' : ''}` method="POST")
			label(for="title") Title
			input(type="text" name="title" value=post.title)
			label(for="tags") Tags
			input(type="text" name="tags" value=post.tags)
			textarea#tinymce(name="content" type="hidden")= post.content
			input(type="submit" value="save")
