mixin postForm(post = {})
	div(class='grid-container')
		div(class='grid-x grid-y')
			form#post(action=`/admin/new-post/${post.slug ? post.slug +'/' : ''}${ post._id ? post._id : '' }${ post.slug ? '/edit' : ''}` method="POST" enctype="multipart/form-data")
				label(for='title') Title
				input(type='text' name='title' value=post.title placeholder='Add a descriptive title')
				label(for='tags') Tags
				input(type='text' name='tags' value=post.tags placeholder='Add tags here, seperated by commas')
				textarea#tinymce(name="content" type="hidden" placeholder='Write your post here, use the RTE to style your content.')= post.content
				hr
				div(class='grid-x grid-margin-x')
					div(class='cell small-12 medium-4')
						div(class='card')
							div(class='card-divider')
								span Featured Image
							div(class='card-section')
								p(class='featured-image-message')
								if post.featuredImage 
									img(class='featured-image-thumb' src=`/uploads/${post.featuredImage}` data-has-image data-og-src=`/uploads/${post.featuredImage}`)
									hr
									label(class='button hollow secondary small expanded change-featured-image' for="featuredImage") Change Image
									input(class='hide' type="file" name="featuredImage" id="featuredImage" accept="image/gif, image/png, image/jpeg")
									input(type="checkbox" name="removeFeaturedImage" id="removeFeaturedImage" class='hide')
									label(for='removeFeaturedImage' class='button alert hollow small expanded remove-featured-image' data-removing='true') Remove Image
								else
									img(class='featured-image-thumb has-no-image hide' src=``)
									hr(class='hide')
									label(class='button hollow secondary small expanded change-featured-image' for="featuredImage") Add Featured Image
									input(class='hide' type="file" name="featuredImage" id="featuredImage" accept="image/gif, image/png, image/jpeg")
				
					div(class='cell auto')
						div(class='card')
							div(class='card-divider')
								span Post Options
							div(class='card-section text-right post-options-content')
								div
									if post.title
										span(class='button alert delete-post-btn' data-open='deletePostModal') Delete Post
									input(type='submit' class='button primary' value='Save Post')
		if post.title
			div(class='reveal' id='deletePostModal' data-reveal)
				h2 Are you sure?
				p Click delete to delete this post. 
				//- button(class='close-button' data-close aria-label='Close Modal' type='button')
				//- 	span(aria-hidden='true') &times;
				form(action=`/admin/delete-post/${post.id}` method='POST')
					input(type='submit' class='button alert' value='Delete Post')
